<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Price Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Fill Details</h1>
        <form action="/value" method="POST">
            <label for="X1_transaction_date">Transaction Date:</label>
            <input type="text" id="X1_transaction_date" name="X1_transaction_date"><br>
            
            <label for="X2_house_age">House Age:</label>
            <input type="text" id="X2_house_age" name="X2_house_age"><br>
            
            <label for="X3_distance_to_the_nearest_MRT_station">Distance to Nearest MRT Station:</label>
            <input type="text" id="X3_distance_to_the_nearest_MRT_station" name="X3_distance_to_the_nearest_MRT_station"><br>
            
            <label for="X4_number_of_convenience_stores">Number of Convenience Stores:</label>
            <input type="text" id="X4_number_of_convenience_stores" name="X4_number_of_convenience_stores"><br>
            
            <label for="X5_latitude">Latitude:</label>
            <input type="text" id="X5_latitude" name="X5_latitude"><br>

            <label for="X6_longitude">longitude</label>
            <input type="text" id="X6_longitude" name="X6_longitude" required><br><br>


            <input type="submit" value="Submit">
        </form>

        {% if y is not none %}
            <div class="result">
                <h2>House Price per Unit Area:</h2>
                <p>{{ y }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
